.listImages {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.recipeListElement{
  cursor: pointer;
  margin-top: 10%;
  transition: transform 1s ease;
}

.allRecipesHeader{
  color: #B56E2C;
}

.recipeListElement:hover {
  transform: scale(1.05);
}
