
  .chefButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 15rem;
  }

  .chefsButton {
    border: none;
    background: rgb(60, 109, 201);
    color: white;
    
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    
  }
  
  .chefsButton:hover {
    
    box-shadow: #cd70ef 0 -6px 8px inset;
  }






  .chefsButton:active {
    transform: scale(1.525);
  }





