
  .chefButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-top: 8rem;
    transition: .5s ease-in-out;
  }

  .chefsButton {
    border: none;
    background: #653815;
    color: white;
    height: fit-content;
    font-size: 40px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: #af2f00 0 -12px 6px inset;
    width: 200px;
    
    
  }
  
  .chefButtonContainer:hover{
    transform: scale(1.1);
  }

  h2{
    border-radius: 5px;
    border-style: solid;
  }
  .chefHeader{
    padding-top: 7rem;
    margin-left: 20%;
    margin-right: 20%;

  }





  .chefsButton:active {
    transform: scale(1.525);
  }





