
        
.my-recipes {
text-align: center;
}
        
.recipe-item {
 margin-bottom: 20px;
 cursor: pointer;
}
        
.recipe-item img {
max-width: 100%;

}
        
.login-prompt {
 display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 300px;
}
        
.login-prompt h2 {
margin-bottom: 20px;
}
        
.login-prompt p {
margin-bottom: 20px;
}
        
        
.login-prompt .btn {
width: 100%;
height: 50px;
background-color: #f5f5f5;
border: none;
border-radius: 5px;
margin-top: 10px;
cursor: pointer;
font-size: large;
}
        