.searchBtn {
    color: #FBF4EE;
    /* old color : rgb(60, 109, 201); */
    background-color: #653815;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    
    border: black; 
    font-size: 1.6rem;
}    


.searchForm {
    border-radius: 50px;
    width: 45vw !important;
    font-size: 1.6rem;

}

.navbar {
    background-color: #80461B !important;
    min-height: 5vh;
}

a {
    color: #F7EADE;
}

a:hover {
    color: #ffffff;
}
